<section class="w-full mt-48">
  <div
    class="herosection w-full flex-col justify-center lg:justify-start flex lg:flex-row items-center gap-y-12 lg:gap-0 relative"
  >
    <div
      class="hero-spot text-5xl sm:text-7xl lg:text-5xl xl:text-7xl font-semibold lg:mr-12 max-w-lg xl:mr-24"
    >
      <h1>
        Hello, I'm <br />
        Mohamed Echbiy.
      </h1>
    </div>
    <div
      class="max-w-lg lg:max-w-xs xl:max-w-lg lg:mt-24 text-xl lg:text-base xl:text-xl lg:mr-10 inter"
    >
      <p>
        I have been working as a developer and freelancer for approximately one
        year. During this time, I have focused primarily on Front End
        development. However, I also possess experience in working with APIs and
        backend development using Node.js.
      </p>
    </div>
    <div class="lg:mt-32 hero_imaget max-w-[150px]">
      <img class="rounded-full" src="assets/profile.png" alt="" />
    </div>
    <!-- <div class="bottom-0">

    </div> -->
  </div>
  <div id="work" class="work mt-48">
    <h2
      class="text-5xl text-center uppercase font-semibold title drop-shadow-md mb-32"
    >
      My Work
    </h2>
    <div
      class="project grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-y-3 lg:justify-between"
    >
      <div class="flex flex-col">
        <p class="subheading uppercase text-sm inter">01/project</p>
        <h3 class="heading text-4xl text-yellow-400 font-semibold">YUMMY</h3>
        <p class="mt-8 inter flex flex-col gap-y-3 text-sm max-w-md">
          <span>YUMMY: A dynamic Food Delivery app with animations. </span>
          <span>
            Integrates with SanityCMS for efficient content management.</span
          >
          <span
            >Admin dashboard: Real-time order tracking, data visualization, and
            earnings insights.</span
          >
          <span>
            User-focused: Personalized meal saving feature. Rewards system:
            Point-based system for user engagement.
          </span>
        </p>
        <div
          class="justify-self-end justify-items-end flex items-center gap-3 mt-12"
        >
          <a href="" class="flex items-center gap-2"
            >Github <ng-icon name="radixGithubLogo"></ng-icon>
          </a>
          <a
            href="https://yummy-zeta.vercel.app/"
            target="_blank"
            class="flex items-center gap-2"
            >Live <ng-icon name="radixPlay"></ng-icon>
          </a>
        </div>
      </div>
      <div
        class="project_image drop-shadow-lg rounded-br-[80px] overflow-hidden"
      >
        <img src="assets/yummy.png" alt="" />
      </div>
    </div>
    <!-- project 2 -->
    <div
      class="project grid grid-cols-1 lg:grid-cols-2 justify-center items-center gap-y-3 lg:justify-between mt-12"
    >
      <div class="flex flex-col">
        <p class="subheading uppercase text-sm inter">02/project</p>
        <h3 class="heading text-4xl text-orange-400 font-semibold">
          ATLAS Travel
        </h3>
        <p class="mt-8 inter flex flex-col gap-y-3 text-sm max-w-md">
          <span>Complete website development </span>
          <span> Includes contact page and advanced filtering </span>
          <span>Multilingual support </span>
          <span>Features route and destination management system </span>
        </p>
        <div
          class="justify-self-end justify-items-end flex items-center gap-3 mt-12"
        >
          <a href="" class="flex items-center gap-2"
            >Github <ng-icon name="radixGithubLogo"></ng-icon>
          </a>
          <a
            href="https://travelatlasmorocco.com/en/"
            target="_blank"
            class="flex items-center gap-2"
            >Live <ng-icon name="radixPlay"></ng-icon>
          </a>
        </div>
      </div>
      <div
        class="project_image drop-shadow-lg rounded-tl-[80px] overflow-hidden"
      >
        <img src="assets/atlas.png" alt="" />
      </div>
    </div>
    <!-- project 3 -->
    <div class="flex justify-center mt-24">
      <button
        type="button"
        class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
      >
        <a routerLink="/works" href="#"> More Works > </a>
      </button>
    </div>
  </div>
</section>
